azure-functions
requests==2.32.3
wyze-sdk==2.2.0
slack_sdk==3.28.0
azure-identity==1.16.1
azure-keyvault-secrets==4.8.0
cffi
azure-data-tables==12.5.0
pytz==2024.2
slack-bolt==1.20.0
fastapi==0.112.1
json-log-formatter==1.0
